/* .image-carousel-div {
  float: right;
}

.image-carousel {
  width: 80%;
  padding: 0;
} */

/* .image-carousel {
  width: 90%;
}

.holder {
  width: 95vw;
  margin: auto;
} */

/* .welcome-text {
  text-align: center;
} */

.sn {
  font-style: italic;
}
