<div class="container-fluid">

  <div class="row align-items-center">
    <div class="col-lg-4 col-md-12 col-sm-12 mb-5">
      <div class="welcome-text text-center">
        <h2>Welcome to Birdwatcher!</h2>
        <p>An app to learn about and log the birds you have seen</p>
        <a routerLink="/birds">
          <button type="button" class="btn btn-primary">View Birds</button>
        </a>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 mb-5">
      <div class="image-carousel-div mx-auto">
        <div class="image-carousel text-center">
          <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">

              <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://www.allaboutbirds.org/guide/assets/photo/297038371-1280px.jpg" class="d-block w-100" alt="Cerulean Warbler sitting on a branch">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Cerulean Warbler</h5>
                  <p class="sn">Setophaga cerulea</p>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="5000">
                <img src="https://www.allaboutbirds.org/guide/assets/photo/297342281-1280px.jpg" class="d-block w-100" alt="Barn Owl standing on a post">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Barn Owl</h5>
                  <p class="sn">Tyto alba</p>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="5000">
                <img src="https://www.allaboutbirds.org/guide/assets/photo/297087301-1280px.jpg" class="d-block w-100" alt="Northern Cardinal standing on the ground near water">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Northern Cardinal</h5>
                  <p class="sn">Cardinalis cardinalis</p>
                </div>
              </div>


              <div class="carousel-item" data-bs-interval="5000">
                <img src="https://www.allaboutbirds.org/guide/assets/photo/306062281-1280px.jpg" class="d-block w-100" alt="Bald Eagle flying">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Bald Eagle</h5>
                  <p class="sn">Haliaeetus leucocephalus</p>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="5000">
                <img src="https://www.allaboutbirds.org/guide/assets/photo/304461171-1280px.jpg" class="d-block w-100" alt="American White Pelican flying">
                <div class="carousel-caption d-none d-md-block">
                  <h5>American White Pelican</h5>
                  <p class="sn">Pelecanus erythrorhynchos</p>
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
