.sn {
  font-style: italic;
}

/* .carousel-inner {
  width: 47rem;
} */

/* .carousel-inner {
  width: 57vw;
} */

/* .carousel-inner {
  width: 90%;
} */


/* .carousel-inner {
  width: 90%;
} */

.image-carousel-div {
  width: 90%;
  /* margin: 0 auto; */
}
