<h1>Edit Form</h1>
<button type="button" name="button" (click)="whichBird()">Is the bird here?</button>

<!-- <div class="container mt-3 border border-secondary rounded w-100">
    <form #edit ngFrom (ngSubmit)="editSubmit()">

      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" name="name" class="form-control" [(ngModel)]=bird.name placeholder="Name" required>
      </div>
      <br/>

      <div class="form-group">
        <label for="scientificName">Scientific Name: </label>
        <input type="text" name="scientificName" class="form-control" [(ngModel)]=bird.scientificName placeholder="Scientific Name" required>
      </div>
      <br/>

      <div class="form-group">
        <label for="image">Image: </label>
        <input type="url"  name="image" class="form-control" [(ngModel)]=bird.image placeholder="URL" required>
      </div>
      <br/>

      <div class="form-group">
        <label for="location">Location: </label>
        <input type="text" name="location" class="form-control" [(ngModel)]=bird.location placeholder="Location" required>
      </div>
      <br/>

      <div class="form-group">
        <label for="status">Status: </label>
        <input type="text" name="status" class="form-control" [(ngModel)]=bird.status placeholder="Status" required>
      </div>
      <br/>

      <div class="form-group">
        <label for="description">Description: </label>
        <textarea type="text" name="description" class="form-control" [(ngModel)]=bird.description placeholder="Description" required></textarea>
      </div>
      <br/>

      <div class="sumbit-btn text-center mb-2">
        <button class="btn btn-success" type="submit" data-dismiss="modal">Submit</button>
      </div>
    </form>
</div> -->
