<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/welcome">Birdwatcher</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItems" aria-controls="collapseItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapseItems">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/birds">All Birds</a>
        </li>

        <li *ngIf="loggedin" class="nav-item">
          <a class="nav-link" routerLink="/your-birds">Your Birds</a>
        </li>

        <li *ngIf="loggedout" class="nav-item">
          <app-your-birds-nav></app-your-birds-nav>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>
      </ul>


      <!-- <div
        <div class="nav-item">
          <a class="nav-link" href="#" style="color: #e1e1e18c;">Login</a>
        </div>
      </div> -->

      <!-- <div class="welcome-user">
        <h1>Welcome {{req.sessions}}</h1>
      </div> -->

      <div>
        <button type="button" name="button" (click)="logOut()">Logout</button>
        <app-login-modal></app-login-modal>
      </div>
    </div>

  </div>
</nav>
