/*----- Form color validators -----*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/*----- back button -----*/
.back-btn {
  border-radius: 15px;
  padding: 5px 20px;
  float: left;
  margin-left: 1rem;
}
