<h1>Search Component Component</h1>

<div id="search-component">
  <label for="search-box">Bird Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Name"/>


  <div class="d-flex flex-wrap justify-content-evenly text-white">

    <div class="search-result">

      <div class="flex-item m-2 justify-content-center bg-secondary" *ngFor="let bird of birds$ | async">
        <a routerLink="/birds/{{bird._id}}">
          <img src="{{bird.image}}" alt="photo of {{bird.name}}">
          <h4 class="bird-name">{{bird.name}}</h4>
        </a>
      </div>

    </div>

  </div>



</div>














<!------------------------------------ Graveyard ------------------------------------>

<!-- 1 -->
<!-- <div class="seach-bar-div">
  <span>Search:</span>
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
</div> -->
<!-- 1 -->



<!-- 2 -->
<!-- <div class="seach-bar-div">
  <span>Search:</span>
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
</div> -->
<!-- 2 -->




<!-- 3 (Backend) -->
<!-- <input type="text" name="searchBox" class="searchBox" (keyup)="sendData($event)">
<section class="search-results">

</section> -->
<!-- 3 -->
