a {
  text-decoration: none;
}

.bird-name {
  text-align: center;
  color: white;
  padding: 3px;
}

img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

#bird-card {
  width: 300px;
}

.title {
  text-align: center;
}


/* search */
.search-bird {
  text-align: center;
}


h1 {
  margin-top: 2rem;
}

.search-btns {
  margin-top: 1rem;
  text-align: center;
}

button {
  margin: 0px 20px;
}

input {
  width: 20rem;
}
