<h1>Search Component Component</h1>















<!------------------------------------ Graveyard ------------------------------------>

<!-- 1 -->
<!-- <div class="seach-bar-div">
  <span>Search:</span>
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
</div> -->
<!-- 1 -->



<!-- 2 -->
<!-- <div class="seach-bar-div">
  <span>Search:</span>
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
</div> -->
<!-- 2 -->




<!-- 3 (Backend) -->
<!-- <input type="text" name="searchBox" class="searchBox" (keyup)="sendData($event)">
<section class="search-results">

</section> -->
<!-- 3 -->


<!-- Heroes -->
<!-- <div id="search-component">
  <label for="search-box">Bird Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let bird of birds$ | async" >
      <a routerLink="/birds/{{bird._id}}">
        {{bird.name}}
      </a>
    </li>
  </ul>
</div> -->
<!-- Heroes -->
