/* search heading */
.title {
  text-align: center;
}


/* search bar input */
.search-bird {
  text-align: center;
}

input {
  width: 30%;
  min-width: 15rem;
}


/* search by buttons */
.search-btns {
  margin-top: 1rem;
  text-align: center;
}

button {
  margin: 0px 20px;
  margin: 10px 20px;
}


/*-------------------- bird cards --------------------*/
a {
  text-decoration: none;
}

.bird-name {
  text-align: center;
  color: white;
  padding: 3px;
}

img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

#bird-card {
  width: 300px;
}
/*----------------------------------------------------*/
