


















<!------------------------------------ Graveyard ------------------------------------>

<!-- 1 -->
<!-- <div class="seach-bar-div">
  <span>Search:</span>
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
</div> -->
<!-- 1 -->



<!-- 2 -->
<!-- <div class="seach-bar-div">
  <span>Search:</span>
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
</div> -->
<!-- 2 -->




<!-- 3 (Backend) -->
<!-- <input type="text" name="searchBox" class="searchBox" (keyup)="sendData($event)">
<section class="search-results">

</section> -->
<!-- 3 -->
