/* .btn-flexbox {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.bird-info {
  background-color: yellow;
}

.bird-card {
  background-color: lightblue;
  width: 600px;
  margin: 0 auto;
}

.img-carousel {
  background-color: green;
}

.name {
  background-color: pink;
  margin: 0;
  padding: 0;
}

.name h2 {
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.s-name {
  font-style: italic;
  margin: 0;
  padding: 0;
}

.facts {
  background-color: orange;
  text-align: left;
  margin-left: 5px;
}

.facts h4 {
  margin: 5px 5px;
  padding: 0;
} */

/* .bird-btns {
} */

/* .btns-div {
  background-color: pink;
  width: 20px;
  text-align: center;
} */

/* .delete {
  margin-right: 5rem;
} */

/* .bird-btns {
  text-align: center;
} */




.name {
  margin-right: 15px;
}

.s-name {
  font-style: italic;
}


.btn-flex {
  width: 100px;
}

img {
  width: 100%;
}

.fact-type {
  font-weight: bolder;
  margin-left: 4px
}
.fact-info {
  font-weight: lighter;
}

.back-btn {
  border-radius: 15px;
  padding: 5px 20px;
}

.bird-info {
  background-color: lightgrey;
}

.bird-facts {
  /* background-color: pink; */
}



/*------------------------------------ MODAL ------------------------------------*/
/* white background */
.modal {
  background-color: white;
}

/* very dark background */
/* .modal {
  background-color: rgba(0, 0, 0, 0.91);
} */


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
/*-------------------------------------------------------------------------------*/
