<!-- <div class="bird-page" *ngIf="bird">

  <div class="btn-flexbox">
      <button class="back-btn" type="button" (click)="backBtn()">Back</button>
      <div class="bird-btns">
        <button class="edit-btn" type="button">Edit</button>
        <button class="delete-btn" type="button" class="delete" title="delete" (click)="delete(bird)">Delete</button>
      </div>
  </div>

  <div class="bird-info">
    <div class="bird-card">
      <div class="img-carousel">
        <img src="{{bird.image}}" alt="image of {{bird.name}}">
      </div>
      <div class="name">
        <h2>{{bird.name}}</h2>
        <h3 class='s-name'>{{bird.scientificName}}</h3>
      </div>
      <div class="facts">
        <h4>Location: {{bird.location}}</h4>
        <h4>Species Status: {{bird.status}}</h4>
        <h4>Description: {{bird.description}}</h4>
      </div>
    </div>
  </div>

  <div class="modal-wrapper">
    <div class="edit-form-div">
      <h2>Edit</h2>
      <form (ngSubmit)="editSubmit()" #editForm="ngForm">

        <div class="form-group">
          <label for="name">Name: </label>
          <input type="text" id="name" name="name" [(ngModel)]="bird.name" placeholder="Name" required>
        </div>

        <div class="form-group">
          <label for="scientificName">Scientific Name: </label>
          <input type="text" id="scientificName" name="scientificName" [(ngModel)]="bird.scientificName" placeholder="Scientific Name" required>
        </div>

        <div class="form-group">
          <label for="image">Image: </label>
          <input type="url" id="image" name="image" [(ngModel)]="bird.image" placeholder="URL" required>
        </div>

        <div class="form-group">
          <label for="location">Location: </label>
          <input type="text" id="location" name="location" [(ngModel)]="bird.location" placeholder="Location" required>
        </div>

        <div class="form-group">
          <label for="status">Status: </label>
          <input type="text" id="status" name="status" [(ngModel)]="bird.status" placeholder="Status" required>
        </div>

        <div class="form-group">
          <label for="description">Description: </label>
          <input type="text" id="description" name="description" [(ngModel)]="bird.description" placeholder="Description" required>
        </div>

        <button type="button" (click)="editSubmit()">Submit</button>

      </form>
    </div>
  </div>

</div> -->






<!-- <div class="bird-page" *ngIf="bird">

  <div class="btn-flexbox">
      <button class="back-btn" type="button" (click)="backBtn()">Back</button>
      <div class="bird-btns">
        <button class="edit-btn" type="button">Edit</button>
        <button class="delete-btn" type="button" class="delete" title="delete" (click)="delete(bird)">Delete</button>
      </div>
  </div>

  <div class="bird-info">
    <div class="bird-card">
      <div class="img-carousel">
        <img src="{{bird.image}}" alt="image of {{bird.name}}">
      </div>
      <div class="name">
        <h2>{{bird.name}}</h2>
        <h3 class='s-name'>{{bird.scientificName}}</h3>
      </div>
      <div class="facts">
        <h4>Location: {{bird.location}}</h4>
        <h4>Species Status: {{bird.status}}</h4>
        <h4>Description: {{bird.description}}</h4>
      </div>
    </div>
  </div>

  <div class="modal-wrapper">
    <div class="container mt-3 border border-secondary rounded w-50">
      <h1 class="mt-2">Edit</h1>
        <form #add ngFrom (ngSubmit)="editSubmit()">

          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" [(ngModel)]=bird.name placeholder="Name" required>
          </div>
          <br/>

          <div class="form-group">
            <label for="scientificName">Scientific Name: </label>
            <input type="text" name="scientificName" class="form-control" [(ngModel)]=bird.scientificName placeholder="Scientific Name" required>
          </div>
          <br/>

          <div class="form-group">
            <label for="image">Image: </label>
            <input type="url"  name="image" class="form-control" [(ngModel)]=bird.image placeholder="URL" required>
          </div>
          <br/>

          <div class="form-group">
            <label for="location">Location: </label>
            <input type="text" name="location" class="form-control" [(ngModel)]=bird.location placeholder="Location" required>
          </div>
          <br/>

          <div class="form-group">
            <label for="status">Status: </label>
            <input type="text" name="status" class="form-control" [(ngModel)]=bird.status placeholder="Status" required>
          </div>
          <br/>

          <div class="form-group">
            <label for="description">Description: </label>
            <textarea type="text" name="description" class="form-control" [(ngModel)]=bird.description placeholder="Description" required></textarea>
          </div>
          <br/>

          <div class="sumbit-btn text-center mb-2">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </form>
    </div>



  </div>

</div> -->





<div class="bird-page" *ngIf="bird">

  <div class="btn-flexbox">
      <button class="back-btn" type="button" (click)="backBtn()">Back</button>
      <div class="bird-btns">
        <button class="edit-btn" type="button">Edit</button>
        <button class="delete-btn" type="button" class="delete" title="delete" (click)="delete(bird)">Delete</button>
      </div>
  </div>

  <div class="bird-info">
    <div class="bird-card">
      <div class="img-carousel">
        <img src="{{bird.image}}" alt="image of {{bird.name}}">
      </div>
      <div class="name">
        <h2>{{bird.name}}</h2>
        <h3 class='s-name'>{{bird.scientificName}}</h3>
      </div>
      <div class="facts">
        <h4>Location: {{bird.location}}</h4>
        <h4>Species Status: {{bird.status}}</h4>
        <h4>Description: {{bird.description}}</h4>
      </div>
    </div>
  </div>

  <!-- Edit button opens modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
    Edit
  </button>

  <!-- Edit Form Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content w-70">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="container mt-3 border border-secondary rounded w-100">
              <form #add ngFrom (ngSubmit)="editSubmit()">

                <div class="form-group">
                  <label for="name">Name: </label>
                  <input type="text" name="name" class="form-control" [(ngModel)]=bird.name placeholder="Name" required>
                </div>
                <br/>

                <div class="form-group">
                  <label for="scientificName">Scientific Name: </label>
                  <input type="text" name="scientificName" class="form-control" [(ngModel)]=bird.scientificName placeholder="Scientific Name" required>
                </div>
                <br/>

                <div class="form-group">
                  <label for="image">Image: </label>
                  <input type="url"  name="image" class="form-control" [(ngModel)]=bird.image placeholder="URL" required>
                </div>
                <br/>

                <div class="form-group">
                  <label for="location">Location: </label>
                  <input type="text" name="location" class="form-control" [(ngModel)]=bird.location placeholder="Location" required>
                </div>
                <br/>

                <div class="form-group">
                  <label for="status">Status: </label>
                  <input type="text" name="status" class="form-control" [(ngModel)]=bird.status placeholder="Status" required>
                </div>
                <br/>

                <div class="form-group">
                  <label for="description">Description: </label>
                  <textarea type="text" name="description" class="form-control" [(ngModel)]=bird.description placeholder="Description" required></textarea>
                </div>
                <br/>

                <div class="sumbit-btn text-center mb-2">
                  <button class="btn btn-success" type="submit" data-dismiss="modal">Submit</button>
                </div>
              </form>
          </div>






        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>



</div>
