<h2 class="text-center mb-4">Birds</h2>

<div class="flex-container">
  <div class="d-flex flex-wrap justify-content-center text-white">
    <div class="flex-item m-2 justify-content-center bg-secondary"  *ngFor="let bird of birds">
      <a routerLink="/birds/{{bird._id}}">
        <img src="{{bird.image}}" alt="photo of {{bird.name}}">
        <h4 class="bird-name">{{bird.name}}</h4>
      </a>
    </div>
  </div>
</div>


<div class="text-center mt-4 mb-4">
  <a class="add-bird" routerLink="/add-bird">Add a Bird</a>
</div>
