<h2>Birds List</h2>

<a routerLink="/add-bird">
  <button>Add a Bird +</button>
</a>

<!-- <div class="birds-flexbox">
  <div class="bird-card" *ngFor="let bird of birds">
    <a routerLink="/birds/{{bird._id}}">
      <img src="{{bird.image}}" alt="photo of {{bird.name}}">
      <h3>{{bird.name}}</h3>
      <h3>_id: {{bird._id}}</h3>
    </a>
  </div>
</div> -->

<div class="d-flex flex-wrap p-2 justify-content-around">
  <div id="bird-card" class="p-3 m-2" style="background-color: pink;" *ngFor="let bird of birds">
    <a routerLink="/birds/{{bird._id}}">
      <img src="{{bird.image}}" alt="photo of {{bird.name}}">
      <h3>{{bird.name}}</h3>
      <h3>_id: {{bird._id}}</h3>
    </a>
  </div>
</div>
