<div class="d-flex justify-content-between">
  <!-- <h5 *ngIf="loggedIn">Current user: {{currentUser.currentUser.username}}</h5> -->
  <h5>Current user: {{currentUser.currentUser.username}}</h5>
  <h2>Birds List</h2>
  <a routerLink="/add-bird">
    <button type="button" class="btn btn-primary">Add a Bird +</button>
  </a>
</div>

<div class="d-flex flex-wrap justify-content-evenly text-white">
  <div class="flex-item m-2 justify-content-center bg-secondary"  *ngFor="let bird of birds">
    <a routerLink="/birds/{{bird._id}}">
      <img src="{{bird.image}}" alt="photo of {{bird.name}}">
      <h4 class="bird-name">{{bird.name}}</h4>
    </a>
  </div>
</div>
