<!-- link to open modal -->
<div class="nav-item">
  <a class="nav-link" style="color: #e1e1e18c;" data-toggle="modal" data-target="#loginModal" (click)="close()">Login</a>
</div>

<!-- data-backdrop="static" -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="login" class="modal-title" id="exampleModalLongTitle">Login</h5>
        <h5 *ngIf="create" class="modal-title" id="exampleModalLongTitle">Create Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">Close</span>
        </button>
      </div>
      <div class="modal-body">


        <div *ngIf="login" class="login-form">
          <form>
            <div class="form-group row">
              <div class="col">
                <input type="text" class="form-control" placeholder="username">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="password">
              </div>
            </div>
          </form>
        </div>


        <div *ngIf="create" class="create-form">
          <form>
            <div class="col">
              <input type="text" class="form-control" placeholder="username">
            </div>
            <br/>

            <div class="col">
              <input type="password" class="form-control" placeholder="password">
            </div>
            <br/>

            <div class="col">
              <input type="password" class="form-control" placeholder="confirm password">
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button *ngIf="login" type="button" class="btn btn-primary">Login</button>

        <button *ngIf="create" type="button" class="btn btn-primary">Create Account</button>
      </div>
      <a *ngIf="login" class="create-account" type="button" name="button" (click)="loginToggle()">Need an account?</a>
      <a *ngIf="create" class="create-account" type="button" name="button" (click)="createToggle()">Login</a>
    </div>
  </div>
</div>

<!-- <button type="button" name="button"></button> -->
