<!-- link to open modal -->
<div class="nav-item">
  <a class="nav-link" style="color: #e1e1e18c;" data-toggle="modal" data-target="#loginModal" (click)="close()">Login</a>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 *ngIf="loginShow" class="modal-title" id="exampleModalLongTitle">Login</h5>
        <h5 *ngIf="createShow" class="modal-title" id="exampleModalLongTitle">Create Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">Close</span>
        </button>
      </div>


      <div class="modal-body">
        <div *ngIf="loginShow" class="login-form">
          <form class="loginForm">
            <div class="form-group row">
              <div class="col">
                <input type="text" class="form-control" placeholder="username" [(ngModel)]="loginUserData.name" name="name">
              </div>
              <div class="col">
                <input type="password" class="form-control" placeholder="password" [(ngModel)]="loginUserData.password" name="password">
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="createShow" class="create-form">
          <form #create="ngForm" class="createUserFrom" (ngSubmit)="createUser()">
            <div class="col">
              <input type="text" class="form-control" placeholder="username" [(ngModel)]="createUserData.username" name="username">
            </div>
            <br/>
            <div class="col">
              <input type="password" class="form-control" placeholder="password" [(ngModel)]="createUserData.password" name="password">
            </div>
            <br/>
          </form>
        </div>
      </div>


      <div class="modal-footer">
        <button *ngIf="loginShow" type="button" class="btn btn-primary" (click)="loginUser()">Login</button>
        <button *ngIf="createShow" type="button" class="btn btn-primary" (click)="createUser()">Create Account</button>
      </div>

      <a *ngIf="loginShow" class="create-account" type="button" name="button" (click)="loginToggle()">Need an account?</a>
      <a *ngIf="createShow" class="create-account" type="button" name="button" (click)="createToggle()">Login</a>
    </div>
  </div>
</div>
