<app-search-component></app-search-component>

<!-- <div class="d-flex flex-wrap justify-content-evenly text-white">
  <div class="flex-item m-2 justify-content-center bg-secondary"  *ngFor="let bird of birds">
    <a routerLink="/birds/{{bird._id}}">
      <img src="{{bird.image}}" alt="photo of {{bird.name}}">
      <h4 class="bird-name">{{bird.name}}</h4>
    </a>
  </div>
</div> -->






























<!------------------------------------ Graveyard ------------------------------------>
<!-- 1 -->
<!-- <h1>Search Page</h1>

<div id="search-div">
  <label for="search">Bird Search</label>
  <input #searchBox id="search" (input)="search(searchBox.value)"/>

  <ul class="result">
    <div *ngFor="let bird of birds$ | async" >
      <a routerLink="/birds/{{bird._id}}">
        <img src="{{bird.image}}" alt="photo of {{bird.name}}">
        <h4 class="bird-name">{{bird.name}}</h4>
      </a>
    </div>
  </ul>
</div> -->
<!-- <app-search-component></app-search-component> -->
<!-- 1 -->




<!-- 2 -->
<!-- <div class="d-flex justify-content-between">
  <h2>SEARCH</h2>
  <a routerLink="/add-bird">
    <button type="button" class="btn btn-primary">Add a Bird +</button>
  </a>
</div>

<app-search-component (searchTextChange)="onSearchTextEntered(searchText)"></app-search-component> -->

<!-- <app-search-component (onSearchTextEntered)="searchText" ></app-search-component> -->

<!-- <ng-container *ngFor="let bird of birds"> -->

  <!-- <div class="d-flex flex-wrap justify-content-evenly text-white">
    <div class="flex-item m-2 justify-content-center bg-secondary"  *ngFor="let bird of birds">
      <a routerLink="/birds/{{bird._id}}" *ngIf="searchText === '' || bird.name.toLowerCase().includes(searchText)">
        <img src="{{bird.image}}" alt="photo of {{bird.name}}">
        <h4 class="bird-name">{{bird.name}}</h4>
      </a>
    </div>
  </div> -->

<!-- </ng-container> -->
<!-- 2 -->






<!-- 3 -->
<!-- <app-search-component></app-search-component>

<div class="d-flex flex-wrap justify-content-evenly text-white">
  <div class="flex-item m-2 justify-content-center bg-secondary"  *ngFor="let bird of birds">
    <a routerLink="/birds/{{bird._id}}">
      <img src="{{bird.image}}" alt="photo of {{bird.name}}">
      <h4 class="bird-name">{{bird.name}}</h4>
    </a>
  </div>
</div> -->

<!-- 3 -->
